# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
*   Some of the popular languages that Data Scientists use
*   Some of the commonly used libraries used by Data Scientists
*   Simple arithmetic expression to mutiply, divide and add integers
*   Creating a single column table containing the header and rows
*   Create and use ordered and unordered list in markdown cells

Some of the popular languages that Data Scientists use are:

1. Python

2. R

3. SQL

4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy

2. SciPy

3. Matplotlib

4. ggplot2

5. Ve

| Data Science Tools |
| -------------------|
| Jupyter |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Yasir Qayoom